.header{
    color: aliceblue;
    text-align: center;
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    line-height: 90px;

}
.header1{
    background-image: url('../resources/Banner\ Image.png');
    width: 1300px; 
    height: 550px;
    border-radius: 16px;
    display:flex;
    border-radius: 16px;
    


}


